.every_day {
    background: white;
    /* width: 96%; */
    text-align: left;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #5f5f5f;
    padding: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}

.every_day span {
    color: slateblue;
}

.every_day p {
    margin-top: 3px;
}

.every_day:before {
    font-family: MyIcon;
    content: "\e122";
    font-size: 12px;
    color: slateblue;
    position: relative;
    display: block;
    height: 0px;
    left: 54px;
}


/* 文章 */

.article_list {
    width: 100%;
}

.article {
    margin: 20px 0 0;
    background: white;
    border-radius: 7px;
    border: 1px solid #bfbfbf;
    position: relative;
    overflow: hidden;
}

.article_title:hover {
    color: #337ab7;
}

.article_title {
    margin: 20px 20px 10px 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    display: block;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.article_content {
    margin: 0 20px 7px 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: block;
    line-height: 20px;
    padding-bottom: 20px;
}

.article_foot {
    color: #eeeeee;
    background: #1f1f1f;
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;
}